.form {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}
.form form{
    display: flex;
    width: 500px;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.form__task{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form__task span{
    top: 34px;
    position: absolute;
    font-size: small;
    color: red;
}
.form__task input{
    padding: 10px;
}
.form textarea{
    padding: 10px;
}
.form select{
    padding: 5px;
}
.error{
    border: red solid 2px;
}